/* topo do site */

main{

    
    background-color: #011126;
}

.topo{
    padding: 40px 4%;

}



.flex{
    display: flex;
}

 .flex{
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.topo h1, p{
    color: #f2cf63;
}

.texto_topo{
    width: 40vw;
}

.imagem_topo{
    
    /* justify-items: center; */
    
}


