.topo{
    padding: 40px 4%;

}

/* .primeira_parte{

} */

.flex{
    display: flex;
}

 .flex{
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.topo h1, p{
    color: #f2cf63;
}

.topo h1{
    font-size: 4vw;
    font-weight: 800;
}

.texto_topo{
    width: 40vw;
}

/* .imagem_topo{
    
   
    
} */

main{
    background-color: #011126;
    height: 200vh;
    width: 100%;
}



/* segunda parte */

.segunda{
    padding: 40px 4%;

}

.segunda_parte{
    display: flex;
    height: 86vh;
}

.flex{
    display: flex;
}

 .flex{
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.segunda h1, p{
    color: #f2cf63;
}

.texto_segunda{
    /* width: 50vw; */
    align-items: center;
    justify-content: center;
    gap: 90px;
}

/* .imagem_topo{
    
   
    
} */

.parte2{
    /* padding: 40px; */
    
    background-color:blue;
}

.formulario{
    width: 100vw;
    height: 100vh;
    /* background-color: rgba(0, 0, 0, 0.39); */
    /* background-color: #f2ce636e; */
    position: absolute;
   
    
}

.formulario .tela{
    /* position: relative; */
    /* position: relative; */
    /* z-index: 10 ; */
}

