/* topo do site */

.topo{
    padding: 40px 4%;

}

.primeira_parte{

}

.flex{
    display: flex;
}

 .flex{
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.topo h1, p{
    color: #f2cf63;
}

.texto_topo{
    width: 40vw;
}

.imagem_topo{
    
    /* justify-items: center; */
    
}

main{
    background-color: #011126;
}



/* segunda parte */
.segunda{
    padding: 40px 4%;

}

.segunda_parte{
    display: flex;
}

.flex{
    display: flex;
}

 .flex{
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.segunda h1, p{
    color: #f2cf63;
}

.texto_segunda{
    /* width: 50vw; */
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.imagem_topo{
    
    /* justify-items: center; */
    
}

.parte2{
    /* padding: 40px; */
    height: 86vh;
    /* background-color:blue; */
}