.tela{
    width:100%;
    position: absolute;
}

.topo{
    padding: 40px 4%;
}

.flex{
    display: flex;
}

 .flex{
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.topo h1, p{
    color: #f2cf63;
}

.topo h1{
    font-size: 4vw;
    font-weight: 800;
}

.texto_topo{
    width: 40vw;
}

main{
    background-color: #011126;
    height: 200vh;
    width: 100%;
}


/* segunda parte */

.segunda{
    padding: 40px 4%;

}

.segunda_parte{
    display: flex;
}

.flex{
    display: flex;
}

 .flex{
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.segunda h1, p{
    color: #f2cf63;
}

.texto_segunda{
   
    align-items: center;
    justify-content: center;
    gap: 90px;
}

/* .parte2{
   
    
    background-color:blue;
} */




