/* pagina mural */


.hello{
  color: #f2bc63;
  font-weight: 800;
}

.dash-right{
    width: 100%;
    height: 40vh; 
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center;     */
    /* justify-content: space-between; */
 
}

.div-form{
  /* background-color: red; */
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-right: 0;
    /* margin-top: 40vh; */
}

.div-results{
  /* background-color: blue; */
  /* display: flex; */
  align-items: center;
  flex-direction: column;

}

.card_sugestao{
    width: 50%;
    /* height: 50vh; */
    /* margin-top: 55px; */
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
    padding: 30px 35px;
    background-color: #011126;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #010326;
}

.div_sugestao{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 10px 0px;
  color:#F2CF63;
}

.div_sugestao input, textarea{
  width: 100%;
  height: 60%;
  border: none;
  border-radius: 10px;
  padding: 15px;
  background-color: white;
  color: #000103;
  font-size: 12pt;
  box-shadow:  0px 10px 40px #010326;
  outline: none;
  box-sizing: border-box;
  margin-top: 5px;
}

/* textarea{
  
} */

.btn_sugestao{
  width: 100%;
  padding: 16px 0px;
  margin-top: 20px;
  border: none;
  border-radius: 8px;
  outline: none;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 3px;
  color: #000b21;
  background-color: #f2ce63dc;
  cursor: pointer;
 
}

.btn_sugestao:hover{
  filter: brightness( 120% );
  box-shadow: 0px 10px 40px -12px #F2CF63;
  background-color: #F2CF63;
}







/* .dash-right .avisos .div-form textarea {
  width: 100%;
  /* color: #E6005A; */
  /* border: 3px solid #e6005a; */
  /* background-color: white; */
  /* border-radius: 5px; */
/* } */ 

/* .div-form button {
  cursor: pointer;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  color: white;
  background-color: #e6005a;
  width: 120px;
} */

.publicacao-btn-editar {
  cursor: pointer;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 14px;
  padding: 5px 8px;
  color: white;
  background-color:#F2CF63;
  color: #000b21;
  width: 80px;
}

.publicacao {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  border-bottom: 3px solid#F2CF63;
  color: #000b21;
  padding: 20px;
}

 
.publicacao > *:not(:last-child) {
  padding: 0 0 10px 0;
}

/* .div-results {
  width: 50%;
} */

.div-results .feed-container {
  background-color: #011126;
  border-radius: 5px;
  margin-bottom: 80px;
}

.div-buttons {
  display: flex;
  justify-content: flex-end;
}

.div-buttons > * {
  margin-left: 30px;
} 

span, .publicacao-descricao{
  color: #F2CF63;
}

.frase_sugestao{
  text-align: center;
  margin: 5px;
}











/* pagina graficos */

/* .dash-header {
  background-color: #212124;
}

.dash {
  width: 80%;
  position: relative;
  top: 0;
  left: 20%;
  background-color: #161618;
  height: 100vh;
  overflow: auto;
}

.regua {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin-top: 30px;
}

.perigo-frio {
  background-color: #5c6bc0;
}

.perigo-quente {
  background-color: #ff7043;
}

.alerta-frio {
  background-color: #42a5f5;
}

.alerta-quente {
  background-color: #ffee58;
}

.ideal {
  background-color: #9ccc65;
}

.item-regua {
  padding: 5px;
  width: 15%;
  margin: 5px;
  text-align: center;
  padding-top: 15px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 450px;
  width: 100%;
  align-items: center;
  color: white;
}

.card {
  margin: 2%;
  width: 40%;
  flex-wrap: wrap;
  display: flex;
  text-align: center;
  height: 180px;
  justify-content: right;
  background-color: #212124;
  font-size: 20px;
}

.card p {
  margin: 0;
  font-size: 50px;
  font-weight: lighter;
  text-align: left;
}

.cards h1 {
  font-size: 22px;
  width: 100%;
  border-bottom: solid white 1px;
  text-align: left;
  font-weight: lighter;
  margin: 20px;
}

.temperatura,
.umidade {
  margin: 5px;
  margin-left: 20px;
  width: 75%;
}

.cor-alerta {
  width: 13%;
  height: 30%;
  border-radius: 50%;
  display: inline-block;
}

.btns-dash {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  flex-wrap: wrap;
  padding: 0 30% 0 30%
}

.graph {
  width: 80%;
  margin: auto;
  padding-top: 10px;
}

.tituloGraficos {
  color: rgb(216, 216, 216);
  display: flex;
  justify-content: center;
}

.btn-chart {
  font-family: "Exo 2", sans-serif;
  border: 0;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  color: #e6005a;
  background-color: white;
  margin: 5px;
  border-radius: 3px;
}

.btn-pink {
  color: white;
  background-color: #e6005a;
}

.btn-white {
  color: #e6005a;
  background-color: white;

}

.label-captura {
  height: 80px;
}

.display-none {
  display: none;
}

.display-flex {
  display: flex;
}

.display-block {
  display: block;
}

canvas {
  width: 100% !important;
  height: 100% !important;
} */